In [1]:
import pandas as pd

In [2]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [3]:
x = pd.Series(list)
x

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
print(x[0])

1

In [5]:
y = pd.DataFrame(x,columns= [ 'number'])
y

   number
0       1
1       2
2       3
3       4

In [6]:
se = y["number"]
se

0    1
1    2
2    3
3    4
Name: number, dtype: int64

In [7]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [8]:
thisdict = {
  "brand": "Ford","Ford1","Ford",
  "model": "Mustang","Ford1","Ford",
  "year": 1964,"Ford1","Ford",
}

thisdict

SyntaxError: invalid syntax (199137734.py, line 2)

In [ ]:
s_d = pd.Series(thisdict['brand'],name='brand' )
s_d

In [ ]:
df = pd.DataFrame([thisdict])
df

In [ ]:
thisdict = {
    'brand': ['Ford', 'Chevrolet'],
    'model': ['Mustang', 'Camaro'],
    'year': [1964, 1967]
}

# Convert dictionary to DataFrame
df = pd.DataFrame(thisdict)
df

In [ ]:
age_se = df['brand']
age_se

In [ ]:
data = { 'age': [25,26,30,50,60,40,60,80,10,20,],
        'salary':[500000,1000000,20000,300000,50000,600000,70000,200000,15000,15000]
    
}
type(data)

In [ ]:

df = pd.DataFrame(data)
print(df)

In [ ]:
df.info()

In [ ]:
df['age'] = df['age'].astype('int16')
df['salary'] = df['salary'].astype('int16')
df

In [ ]:
df.info()

In [ ]:
data = {
    'date': [
        '2024-07-01', 
        '2024-07-02', 
        '2024-07-03', 
        '2024-07-04'
    ],
    'event': ['Event A', 'Event B', 'Event C', 'Event D'],
    'salary':['500000 errors','1000000 errors',20000,300000]
    
}

# Convert the 'date' column to datetime
df = pd.DataFrame(data)
df

In [ ]:
(df.dtypes)

In [ ]:
df = pd.DataFrame(data)
df['date'] = pd.to_datetime(df['date'])
df.dtypes

In [ ]:
df = pd.read_excel('student_data.xlsx',sheet_name='Sheet1')
df

In [ ]:
df = pd.read_csv('Certificate.csv',sep=',')
df

In [ ]:
url = 'https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/bike.csv'
df = pd.read_csv(url)
df.tail(10)

In [ ]:
df.columns

In [ ]:
type(df[['instant']])

In [ ]:
url = ('https://raw.githubusercontent.com/rashakil-ds/Public-Datasets/main/Bank%20Data.csv')
df = pd.read_csv(url)
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df['Annual_Income'].max()

In [ ]:
df['Annual_Income'].min()

In [ ]:
#df["Annual_Income"].mean()
df['Annual_Income'] = pd.to_numeric(df['Annual_Income'], errors='coerce')
df = df.dropna(subset=['Annual_Income'])
mean_income = df['Annual_Income'].mean()
mean_income

In [ ]:
income = df['Annual_Income'].std()
income

In [ ]:
income = df['Annual_Income'].mode()
income

In [ ]:
income = df['Annual_Income'].value_counts()
income

In [ ]:
#25%
income = df['Annual_Income'].quantile(0.25)
income

In [ ]:
#100%
income = df['Annual_Income'].quantile(1)
income

In [ ]:

income = df['Annual_Income'].describe()
income

In [9]:
import pandas as pd
url = ('https://raw.githubusercontent.com/rashakil-ds/5-Minutes-to-Pandas/main/Datasets/Screen%20Time%20Data.csv')
df = pd.read_csv(url)
df.columns

Index(['index', 'Date', 'Week Day', 'Total Screen Time ', 'Social Networking',
       'Reading and Reference', 'Other', 'Productivity', 'Health and Fitness',
       'Entertainment', 'Creativity', 'Yoga'],
      dtype='object')

In [10]:
sort_v = df['Social Networking'].sort_values()
sort_v

8      25
25     28
17     34
4      35
26     37
13     40
27     41
11     42
22     42
12     46
24     49
2      52
21     53
6      56
15     60
16     64
5      68
3      69
20     70
10     75
9      76
1      78
19     81
0      89
14     90
23     93
7      98
18    109
Name: Social Networking, dtype: int64

In [ ]:
sort_v = df['Social Networking'].sort_values(ascending=False)
sort_v

In [ ]:
# largest data show any sect columns
data_show=df.nlargest(5,'Social Networking')
data_show

In [11]:
# largest data show any sect columns
data_show=df.nsmallest(5,'Social Networking')
data_show

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
8,8,04/25/19,Thursday,52,25,7,3,16,0,0,0,0
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
26,26,05/13/19,Monday,61,37,1,0,4,0,0,0,1

In [ ]:
# conditions return 
df['Social Networking'] > 70

In [ ]:
df[df['Social Networking'] > 70]

In [12]:
# Subseeting Row

df[df['Week Day'] == 'Saturday' ]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1

In [15]:
# Subseeting Row
df[(df['Week Day'] == 'Saturday') | (df['Week Day'] == 'Sunday') ]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1

In [18]:
# Subseeting Row used in isin()
df[df['Week Day'].isin(['Saturday','Sunday'])]

,index,Date,Week Day,Total Screen Time,Social Networking,Reading and Reference,Other,Productivity,Health and Fitness,Entertainment,Creativity,Yoga
3,3,04/20/19,Saturday,101,69,9,38,2,0,3,0,0
4,4,04/21/19,Sunday,56,35,2,43,3,0,1,1,0
10,10,04/27/19,Saturday,116,75,10,20,5,0,0,0,0
11,11,04/28/19,Sunday,85,42,22,4,2,0,0,0,0
17,17,05/04/19,Saturday,58,34,4,5,3,0,1,0,1
18,18,05/05/19,Sunday,133,109,5,1,3,0,0,0,1
24,24,05/11/19,Saturday,58,49,1,2,2,0,0,2,1
25,25,05/12/19,Sunday,52,28,1,1,6,0,0,1,1