In [3]:
import pandas as pd

In [1]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [5]:
x = pd.Series(list)
x

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
print(x[0])

1

In [13]:
y = pd.DataFrame(x,columns= [ 'number'])
y

   number
0       1
1       2
2       3
3       4

In [18]:
se = y["number"]
se

0    1
1    2
2    3
3    4
Name: number, dtype: int64

In [12]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

Empty DataFrame
Columns: [number]
Index: []